.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  padding-top: 0.75rem;
}

.block1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  grid-template-areas: "sq1 sq2";
  grid-area: 1 / 1 / 2 / 2;
}

.sq1 {
  grid-area: sq1;
}

.sq2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  grid-template-areas:
    "box1 box2"
    "box3 box4";
  grid-area: sq2;
}

.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;
}

.box4 {
  grid-area: box4;
}

.block2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  grid-template-areas: "sq3 sq4";
  grid-area: 2 / 1 / 3 / 2;
}

.sq3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  grid-template-areas:
    "box5 box6"
    "box7 box8";
  grid-area: sq3;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.sq4 {
  grid-area: sq4;
}

.block3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0.75rem;
  grid-auto-flow: row;
  grid-template-areas: "box9 box10 box11 box12";
  grid-area: 3 / 1 / 4 / 2;
}

.box9 {
  grid-area: box9;
}

.box10 {
  grid-area: box10;
}

.box11 {
  grid-area: box11;
}

.box12 {
  grid-area: box12;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 223, 223);
  display: grid;
}

#content {
  height: 100%;
  width: 100%;
  min-width: 100%;
}
#img {
  height: 100%;
  width: 100%;
  min-width: 100%;
  border-radius: 10px;
}

.block3 {
  max-height: 50%;
  min-width: 100%;
}

/* HOVER TRANSITION START */

.sq1 {
  transition: 0.3s ease-in-out;
}
.sq1:hover {
  transform: scale(1.02);
}

.sq4 {
  transition: 0.3s ease-in-out;
}
.sq4:hover {
  transform: scale(1.02);
}

.box1 {
  transition: 0.3s ease-in-out;
}
.box1:hover {
  transform: scale(1.04);
}

.box2 {
  transition: 0.3s ease-in-out;
}
.box2:hover {
  transform: scale(1.04);
}

.box3 {
  transition: 0.3s ease-in-out;
}
.box3:hover {
  transform: scale(1.04);
}

.box4 {
  transition: 0.3s ease-in-out;
}
.box4:hover {
  transform: scale(1.04);
}
.box5 {
  transition: 0.3s ease-in-out;
}
.box5:hover {
  transform: scale(1.04);
}
.box6 {
  transition: 0.3s ease-in-out;
}
.box6:hover {
  transform: scale(1.04);
}
.box7 {
  transition: 0.3s ease-in-out;
}
.box7:hover {
  transform: scale(1.04);
}
.box8 {
  transition: 0.3s ease-in-out;
}
.box8:hover {
  transform: scale(1.04);
}
.box9 {
  transition: 0.3s ease-in-out;
}
.box9:hover {
  transform: scale(1.04);
}
.box10 {
  transition: 0.3s ease-in-out;
}
.box10:hover {
  transform: scale(1.04);
}
.box11 {
  transition: 0.3s ease-in-out;
}
.box11:hover {
  transform: scale(1.04);
}
.box12 {
  transition: 0.3s ease-in-out;
}
.box12:hover {
  transform: scale(1.04);
}

/* HOVER TRANSITION END */
