-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
--litepicker-container-months-color-bg: #fff;
--litepicker-container-months-box-shadow-color: #ddd;
--litepicker-footer-color-bg: #fafafa;
--litepicker-footer-box-shadow-color: #ddd;
--litepicker-tooltip-color-bg: #fff;
--litepicker-month-header-color: #333;
--litepicker-button-prev-month-color: #9e9e9e;
--litepicker-button-next-month-color: #9e9e9e;
--litepicker-button-prev-month-color-hover: #2196f3;
--litepicker-button-next-month-color-hover: #2196f3;
--litepicker-month-width: calc(var(--litepicker-day-width) * 7);
--litepicker-month-weekday-color: #9e9e9e;
--litepicker-month-week-number-color: #9e9e9e;
--litepicker-day-width: 38px;
--litepicker-day-color: #333;
--litepicker-day-color-hover: #2196f3;
--litepicker-is-today-color: #f44336;
--litepicker-is-in-range-color: #bbdefb;
--litepicker-is-locked-color: #9e9e9e;
--litepicker-is-start-color: #fff;
--litepicker-is-start-color-bg: #2196f3;
--litepicker-is-end-color: #fff;
--litepicker-is-end-color-bg: #2196f3;
--litepicker-button-cancel-color: #fff;
--litepicker-button-cancel-color-bg: #9e9e9e;
--litepicker-button-apply-color: #fff;
--litepicker-button-apply-color-bg: #2196f3;
--litepicker-button-reset-color: #909090;
--litepicker-button-reset-color-hover: #2196f3;
--litepicker-highlighted-day-color: #333;
--litepicker-highlighted-day-color-bg: #ffeb3b;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
font-family: "Open Sans", Arial, sans-serif, Helvetica !important;
--baseBadges: #8cc63f;
--baseBadgesLightShade: #8cc23f;
--baseGreenBadges: #8cc63f;
--callToAction: #3e84b6;
--primaryButton2: #132836;
--baseGreyColor: #484848;
--primaryBadge: #8cc63f;
--hoverButton: #333;
--buttonHoverGrey: #555;
--secondaryButton: #989898;
--buttonGrey: #444;
--lightGrey: #d8d8d8;
--lightGrey1: #d5d5d5;
--white: #fff;
--black: #000;
--secondaryButton2: #585858;
--lightBackground: #f5f5f5;
--lightBackground1: #e2e3e5;
--redAlert: #ea2125;
--borderColor1: #aaa;
--borderGrey: #b1b1b1;
--borderGrey1: #ddd;
--borderGrey2: #f3f3f3;
--borderGrey3: #939597;
--borderGrey4: #939597;
--borderGrey5: #cbcbcb;
--borderGrey6: #e8e8e8;
--borderYellow: #fec42e;
--borderYellow1: #ffda84;
--borderYellow2: #fbc43e;
--borderGreen: #8ec647;
--borderGreen1: #90c550;
--borderBlue: #3498db;
--shadowGrey: #888888;
--browserNotificationColor: #004477;
--browserHeadLineColor: #6b6c6c;
--orangeWarning: #bb4400;
--noticeBack: #f69624;
--logoFillGreen: #369242;
--logoFillBlack: #0f1112;
--stickyMenuShadow: #b8b8b8;
--greyBorder: #ccc;
--bannerBackground: #e5bf49;
--greenHover: #8bc63e;
--greenHover1: #8bc63f;
--footerAnchor: #bcbcbc;
--facebookBlue: #3b5998;
--twitterBlue: #0084b4;
--instaPink: #fb3958;
--youtubeRed: #cc181e;
--gplusRed: #d34836;
--linkedBlue: #0077b5;
--sidebarGrey: #717171;
--sidebarSublinkGrey: #7a7a7a;
--svgLightGrey: #eee;
--footerGreyBorder: #6d6b6b;
--warningbg: #ffbb33;
--cardBorder: #c5c5c5;
--scrollbarBg: #f1f1f1;
--tempOrientBorder: #999;
--tabContentBorder: #d3d4d4;
--cardbg: #bd8d77;
--quickTipCardBg: #eef4fa;
--sessionExpireBg: #fff7b1;
--shadowColor: #929292;
--loaderBoxShadow: rgba(140, 198, 63, 1);
--tooltipBrownBorder: #f2c779;
--labelColor: #428bca;
--labelColor1: #d9534f;
--labelColor2: #5bc0de;
--labelColor3: #f0ad4e;
--labelColor4: #5cb85c;
--inputBackgroundColor: #f2f2f2;
--requiredFieldColor: #eb0026;
--inputFieldGreen: #8fc549;
--disabledFieldGrey: #bebebe;
--formButtonShadow: #132836;
--sliderBackGrey: #777;
--hightlightYellow: #f9f6cb;
--proofMsgBorder: #dc3545;
--noWarningIconColor: #8ec648;
--colorBoxSilver: #c0c0c0;
--colorBoxGold: #ffdf00;
--colorBoxBlue: #0000ff;
--colorBoxGreen: #008000;
--colorBoxYellow: #ffff00;
--colorBoxOrange: #ffa500;
--colorBoxLightPink: #ffb6c1;
--colorBoxLightBlue: #add8e6;
--colorBoxBrown: #a52a2a;
--safeColor: #00aeef;
--trimColor: #ec008c;
--extTagColor: #dba901;
--htmlColor777: #777;
--txtColor: #f9b142;
--docColor: #0088cc;
--docxColor: #0088cc;
--xlxColor: #c80000;
--xlsxColor: #c80000;
--pdfColor: #045fb4;
--psdColor: #045fb4;
--aiColor: #df7401;
--epsColor: #8a0886;
--tiffColor: #00bfff;
--jpgColor: #8000ff;
--bmpColor: #6e6e6e;
--gifColor: #8a0808;
--pngColor: #088a08;
--menuBorderColor: #d8d8d8;
--athleticHeatherGray: #c9c9c9;
--darkGreen: #1c7c04;
--maroon: #800000;
--navy: #000080;
--red: #ff0000;
--royal: #4169e1;
cursor: pointer;
line-height: 1.618;
box-sizing: border-box;
font-size: 1.8rem;
display: block;
padding-top: 0.5rem;
padding-right: 0.3rem;
padding-bottom: 0rem;
padding-left: 0;
position: relative;
width: 100%;
text-align: center;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
color: #484848;
margin-bottom: 0.5rem;
background-color: rgba(255, 255, 255, 0.75);
border-width: 0 0.1rem 0 0.1rem;
border-radius: 0;
font-weight: bold;
height: 6rem !important;
margin-top: -6rem !important;
